<h1>Card</h1>

<div id="card_wrapper">
    {{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
          {{#each courses}}
            <tr>
                <td>{{name}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-small remove" data-id="{{id}}">delete</button>
                </td>
            </tr>
          {{/each}}
        </tbody>
    </table>

    <p><strong>Price:</strong> <span class="price">{{price}}</span></p>
{{else}}
<p>Your card is empty</p>
{{/if}}
</div>