<h1>Edit your {{course.name}} course</h1>

<form action="/courses/edit" method="post">
    <div class="input-field">
        <input  id="course" name="name" type="text" class="validate" required value="{{course.name}}">
        <label for="course">Course</label>
        <span class="helper-text" data-error="Write your course name" data-success="right"></span>
    </div>


    <div class="input-field">
        <input  id="price" name="price" type="number" class="validate" required value="{{course.price}}">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Write your price" data-success="right"></span>
    </div>


    <div class="input-field">
        <input  id="img" name="img" type="text" class="validate" required value="{{course.img}}">
        <label for="img">Img url</label>
        <span class="helper-text" data-error="Write your img url" data-success="right"></span>
    </div>


    <input type="hidden" name="id" value="{{course.id}}">

    <button class="btn btn-primary">Edit course</button>
</form>